<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

        {{ content }}

    {% include footer.html %}
    {% include backToTop.html %}
    <script src="{{ " /js/main.js " | prepend: site.baseurl }}" charset="utf-8" defer></script>
    <script src="{{ " /js/smooth-scroll.min.js " | prepend: site.baseurl }}" charset="utf-8" defer></script>
    <script type="text/javascript">
      window.addEventListener('DOMContentLoaded', function() {
        smoothScroll.init({
          speed: 500,
          easing: 'easeInOutCubic',
          offset: 20,
        });
      });
    </script>
  </body>

</html>
